@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 33);
  font-family: "Poppins", sans-serif;
  color: white;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: rgb(18, 18, 62);
  position: relative;
}

nav ul {
  justify-content: center;
  display: flex;
}

nav ul li {
  list-style: none;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  font-size: 1.03rem;
  color: rgb(87, 245, 101);
}

.left {
  font-size: 2rem;
}

.firstsection {
  display: flex;
  justify-content: space-around;
  margin: 90px 0;
}

.firstsection > div {
  width: 40%;
}

.leftsection {
  margin: 20px 0;
  padding: 5px 10px;
  font-size: 2rem;
}

.leftsection button {
  padding: 10px;
  background-color: #1e2167;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 1rem;
  margin: 20px 10px;
  cursor: pointer;
  font-weight: 600;
}

.leftsection button:hover {
  border: 2px solid black;
}

.leftsection button a {
  text-decoration: none;
  color: white;
}

.rightsection img {
  width: 80%;
}

.purple {
  color: rgb(176, 110, 238);
}

.text-grey {
  color: grey;
  font-size: 1.2rem;
}

#element {
  color: rgb(176, 110, 238);
}

.secondsection {
  width: 80vw;
  height: 80vh;
  margin: auto;
}
main .secondsection {
   
  min-height: 100vh;
  margin: 80px auto;
}
main h1 {
  font-size: 3rem;
  text-align: center;
  margin: 0 60px;
}
main hr {
  background: #9c97f1;
  height: 1px;
  margin: 40px 60px;
}

.secondsection .box {
  background: rgb(152, 184, 181);
  width: 100%;
  height: 70vh;
  margin: 30px auto;
  display: flex;
  justify-content: space-evenly;
}
.secondsection .box .verticle{
  height: 200px;
  width: 500px;
  color: rgb(255, 250, 250);
  background-color: rgb(0, 17, 255);
  margin: 20px 30px;
}
 

.footer1 {
  height: 40vh;
  width: 100vw;
  background-color: rgb(18, 18, 62);
  display: flex;
  justify-content: space-around;
}

.footer ul {
  display: flex;
  flex-direction: column;
  align-items: right;
  margin: 30px 40px;
  list-style-type: none;
}

.footer h3 {
  color: rgb(206, 156, 156);
}

.footer ul li {
  margin: 10px 0;
}

.footer ul li a {
  margin: 10px 0;
  text-decoration: none;
  color: white;
}

.footerend {
  display: block;
  width: 100vw;
  height: 15vh;
  background-color: rgb(18, 18, 62);
  text-align: center;
  padding: 50px 0 0 0;
  font-size: 1rem;
  color: rgb(189, 196, 228);
  font-weight: 700;
}

@media (max-width: 770px) {
  nav {
    flex-direction: column;
    height: auto;
    padding: 10px 0;
    font-size: 1.2rem;
  }
  nav .left {
    font-size: 2rem;
  }
  nav ul li {
    margin: 0 10px;
  }

  .leftsection {
    font-size: 1.8rem;
  }
  .firstsection {
    flex-direction: column;
    align-items: center;
  }

  .firstsection > div {
    width: 80%;
    text-align: center;
  }

  .rightsection img {
    width: 100%;
  }

  .secondsection {
    width: 90vw;
    height: auto;
  }
  .secondsection h1 {
    font-size: 2.5rem;
    margin: 0 10px;
  }
  .secondsection .box .verticle {
    margin: 0 70px;
  }
  .secondsection textgrey {
    font-size: 1rem;
    margin: 0 10px;
  }
  .footer {
    font-size: 1rem;
    min-width: 50%;
  
  }
  .footer1 {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: ;
    height: auto;
  }

  .footer ul {
    align-items: center;
    margin: 20px 0;
  }
}

@media (max-width: 480px) {
  nav {
    flex-direction: column;
    height: auto;
    padding: 10px 0;
    font-size: 1.1rem;
  }
  nav ul li {
    margin: 0 10px;
  }
 
  .leftsection {
    font-size: 1.5rem;
  }

  .leftsection button {
    padding: 8px;
    font-size: 0.9rem;
    margin: 15px 5px;
  }

  .secondsection .box .verticle {
    margin: 0 50px;
  }
  .secondsection h1 {
    font-size: 2rem;
    margin: 0 10px;
  }
  .footer1 {
    height: auto;
    padding: 10px 0;
  }
  .footer ul {
    margin: 20px 0;
  }
  footer h3 {
    font-size: 1.2rem;
  }
  footer ul li {
    font-size: 1rem;
    margin: 7px 0;
    padding: auto;
  }
  .footer1 {
    height: auto;
    padding: 10px 0;
    margin: 20px 0 0 0;
    width: 100%;
  }
  .footerend {
    font-size: 0.9rem;
    height: auto;
    padding: 20px 0;
    width: 100%;
  }
}
@media (max-width: 425px) {
  nav {
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
  }

  nav ul li {
    margin: 0 8px;
  }

  .leftsection {
    font-size: 1.4rem;
  }
  .firstsection {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .firstsection > div {
    width: 90%;
    text-align: center;
  }

  .rightsection img {
    width: 100%;
  }

  .secondsection {
    width: 95vw;
    height: auto;
  }
  .secondsection h1 {
    font-size: 1.8rem;
    margin: 0 8px;
  }
  .secondsection .box .verticle {
    margin: 0 60px;
  }
  .footer1{
    flex-direction: column;

  }
}
@media (max-width: 375px) {
  nav {
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
  }

  nav ul li {
    margin: 0 7px;
  }

  .leftsection {
    font-size: 1.3rem;
  }
  .firstsection {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .firstsection > div {
    width: 90%;
    text-align: center;
  }

  .rightsection img {
    width: 100%;
  }

  .secondsection {
    width: 95vw;
    height: auto;
  }
  .secondsection h1 {
    font-size: 1.7rem;
    margin: 0 7px;
  }
  .secondsection .box .verticle {
    margin: 0 40px;
  }

  .footer {
    font-size: 0.9rem;
  }
  footer h3 {
    font-size: 1rem;
  }
  footer ul li {
    font-size: 0.9rem;
    margin: 5px 0;
    padding: auto;
  }
  footer ul {
    margin: 20px 10px;
  }
  .footer1 {
    height: auto;
    padding: 10px 0;
    margin: 20px 10px;
    width: 100%;
  }
  .footerend {
    font-size: 0.8rem;
    height: auto;
    padding: 15px 0;
    width: 100%;
  }
}
@media (max-width: 320px) {
  nav {
    flex-direction: column;
    height: auto;
    padding: 10px 0;
    font-size: 1rem;
  }

  nav ul li {
    margin: 0 5px;
  }

  .leftsection {
    font-size: 1.2rem;
  }
  .firstsection {
    flex-direction: column;
    align-items: center;
  }

  .firstsection > div {
    width: 90%;
    text-align: center;
  }

  .rightsection img {
    width: 100%;
  }

  .secondsection {
    width: 95vw;
    height: auto;
  }
  .secondsection h1 {
    font-size: 1.5rem;
    margin: 0 5px;
  }
  .secondsection .box .verticle {
    margin: 0 30px;
  }
}
@media screen and (min-width: 769px) {
  .leftsection {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 1400px) {
  .secondsection h1 {
    font-size: 3rem;
    margin: 0 60px;
  }
  .footer1{
    font-size: 2rem;
    height: auto;
  }
  .leftsection {
    font-size: 2.4rem;
  }
  .footer a{
    font-size: 1.8rem;
  }
  .footer h3{
    font-size: 2.5rem;
  }
  .footerend{
    display: flex;
    font-size: 1.5rem;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 30px 0px;
  }
}
@media screen and (min-width: 1600px) {
  .secondsection h1 {
    font-size: 4rem;
    margin: 0 80px;
  }
  .leftsection {
    font-size: 2.5rem;
  }
  .secondsection textgrey {
    font-size: 1.5rem;
    margin: 0 80px;
  }
  .nav ul li {
    margin: 0 30px;
  }
  .nav {
    font-size: 1.5rem;
  }
  .nav .left {
    font-size: 2.5rem;
  }
  .footerend {
    font-size: 1.2rem;
  }
  .footer ul {
    margin: 40px 60px;
  }
  .footer h3 {
    font-size: 1.5rem;
  }
  .footer ul li {
    font-size: 1.2rem;
  }
  .footer1 {
    height: 50vh;
  }
}
@media screen and (min-width: 1700px) {
  .secondsection h1 {
    font-size: 3.5rem;
    margin: 0 70px;
  }
  .footerend
  {
    font-size: 1.5rem;
    padding: 20px 0;
    height: auto;
    width : 100%;
    text-align: center;
    align-items: center;
    jstyfiy-content: center;
  }
  .footer1{
    font-size: 2.5rem;
    height: auto;
  }
  .leftsection {
    font-size: 2.6rem;
  }
  .footer a{
    font-size: 2rem;
  }
  .footer h3{
    font-size: 3rem;
  }
}
@media screen and (min-width: 1600px) {
  .secondsection h1 {
    font-size: 4.5rem;
    margin: 0 90px;
  }
}
@media(min-width: 1800px) {
  .leftsection {
    font-size: 2.8rem;
  }
  .secondsection textgrey {
    font-size: 1.8rem;
    margin: 0 90px;
  }
  .nav ul li {
    margin: 0 35px;
  }
  .nav {
    font-size: 1.8rem;
  }
  .nav .left {
    font-size: 2.8rem;
  }
  .footerend {
    font-size: 1.3rem;
  }
  .footer ul {
    margin: 45px 70px;
  }
  .footer h3 {
    font-size: 1.8rem;
  }
  .footer ul li {
    font-size: 1.3rem;
  }
  .footer1 {
    height: 55vh;
  }
}
@media screen and (min-width: 2000px) {
  .secondsection h1 {
    font-size: 5rem;
    margin: 0 100px;
  }
  .leftsection {
    font-size: 3rem;
  }
  .secondsection textgrey {
    font-size: 2rem;
    margin: 0 100px;
  }
  .nav ul li {
    margin: 0 40px;
  }
  .nav {
    font-size: 2rem;
  }
  .nav .left {
    font-size: 3rem;
  }
  .footerend {
    font-size: 1.5rem;
  }
  .footer ul {
    margin: 50px 80px;
  }
  .footer h3 {
    font-size: 2rem;
  }
  .footer ul li {
    font-size: 1.5rem;
  }
  .footer1 {
    height: 60vh;
  }
}
